*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}
body{
	overflow: hidden;
}
.container{
	width: 100%;
	min-height: 100vh;
	background-color: #f3f5f8;
}
nav{
	display: flex;
	width: 95%;
	justify-content: space-around;
	height: 80px;
	line-height: 80px;
	z-index: 111;
	
}
.logo{
	display: flex;
	font-size: 40px;
	font-weight: 800;
	color: #3d535f;
	letter-spacing: 3px;
	cursor: pointer;
	text-transform: uppercase;
}
b{
	font-size: 70px;
	color: #7f00ff;
}
.navItems{
	display: flex;
}
.navItems li{
	list-style: none;
	margin: 0 15px;
}
.navItems li a{
	font-size: 25px;
	color: #3d535f;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
	color: #7f00ff;
}
.links a{
	font-size: 30px;
	color: #3d535f;
	margin: 25px 10px;
}
.option{
	justify-content: center;
	display: flex;
	margin-top: 9%;
}
.option li{
	list-style: none;
	margin: 0 20%;
}
.option li a{
	font-size: 70px;
	color: #3d535f;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: capitalize;
}
.option li:hover a{
	color: #7f00ff;
}
.image-slider {
	margin-left: 12%;
  	position: relative;
  	width: 500px;
  	height: 300px;
  	overflow: hidden;
}
.image-slider img {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	transition: opacity 1s ease-in-out;
}
.image-slider img:first-child {
  	opacity: 1;
}
#myVideo {
	margin-top: -30%;
	margin-left: 62%;
  	width: 500px;
  	height: 310px;
}
@keyframes word-highlight {
	from { opacity: 0; }
 	to { opacity: 1; }
}
.wobbling-circle1 {
	position: absolute;
	left: -12%;
	top: 40%; 
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
 	height: 600px;
	width: 600px;
	background: linear-gradient(-45deg,#7f00ff,pink);
  	margin: 50px auto;
 	animation: move-up-down 2s ease-in-out infinite; 
}

@keyframes move-up-down {
	0% { transform: translateY(0px); } 
  	50% { transform: translateY(-5px); }
  	100% { transform: translateY(0px); } 
}
.wobbling-circle2 {
	position: absolute;
	right: -6%;
	top:3%; 
  	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
 	height: 300px;
	width: 300px;
  	background: linear-gradient(45deg,#7f00ff,pink);
  	margin: 50px auto;
 	animation: lmove-up-down 3s ease-in-out infinite; 
}

@keyframes lmove-up-down {
  	0% { transform: translateY(0px); }
  	50% { transform: translateY(-5px); }
  	100% { transform: translateY(0px); }
}